@import "scss/vars";

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    // normalize 1rem to 10px if using default font sizes
    font-size: percentage(10/16);
}

body{
    background: $background;
    color: $foreground;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

noscript{
    display: block; // dev;
    max-width: 600px;
    margin: 10% auto;
    line-height: 1.8;

    header{
        font-size: fz(2);
    }
}


a{
    text-decoration: none;
    color: $primary;
}