<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#942828" />
        <meta name="msapplication-TileColor" content="#fafafa" />
        <meta name="theme-color" content="#fafafa" />
        <title>laxis.me</title>
        <meta name="description" content="Space for experiments and abandoned projects" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="laxis.me" />
        <meta name="og:image" content="https://laxis.me/assets/logo.png" />
        <meta name="twitter:image" content="https://laxis.me/assets/logo.png" />
        <meta name="twitter:description" content="Space for experiments and abandoned projects" />
    </head>

    <body class="home">
        <script type="application/ld+json">
            {
                "@context": "http://schema.org/",
                "@type": "Person",
                "name": "Lars Brix",
                "jobTitle": "Software Engineer",
                "url": "https://laxis.me",
                "email": "contact@laxis.me",
                "sameAs": [
                    "https://keybase.io/laxis",
                    "https://github.com/laxisb",
                    "https://gitlab.com/laxis",
                    "https://twitter.com/LaxisB"
                ]
            }
        </script>
        <div class="card">
            <div class="card__visuals">
                <svg class="card__logo" viewBox="0 0 700 800">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M277.203 0L216 29.0592V126.848L61.2686 0.0537109L0 29.0592V383.059V737.059H75V383.059V108.271L216 223.812V383.059V737.059L277.203 766.118L494.203 589.118V531L312.829 383.059L494.203 235.118V177L277.203 0ZM411.171 206.059L291 304.079V108.039L411.171 206.059ZM411.171 560.059L291 462.039V658.079L411.171 560.059Z"
                        transform="translate(190 14)"
                        title="LaxisB Logo"
                    />
                </svg>
            </div>
            <div class="card__content">
                <section class="card__link list">
                    <p class="list__row list__row--email">
                        <span class="list__key">Email</span>
                        <a target="_BLANK" rel="noopener" class="list__value">
                            contact@<span class="scrapeblock">##invalid##</span>laxis.me
                        </a>
                    </p>
                    <p class="list__row list__row--discord">
                        <span class="list__key">Discord</span>
                        <span class="list__value discord-name">Laxis<span class="discord-tag">#2048</span></span>
                    </p>
                    <p class="list__row list__row--github">
                        <span class="list__key">GitHub</span>
                        <a target="_BLANK" rel="noopener" class="list__value" href="https://github.com/LaxisB/">
                            LaxisB
                        </a>
                    </p>
                    <p class="list__row list__row--sourcehut">
                        <span class="list__key">sourcehut</span>
                        <a target="_BLANK" rel="noopener" class="list__value" href="https://git.sr.ht/~laxis">
                            laxis
                        </a>
                    </p>
                </section>
            </div>
        </div>
    </body>
</html>
