<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#58c294">
    <meta name="msapplication-TileColor" content="#fafafa">
    <meta name="theme-color" content="#fafafa">
    <title>laxis.me</title>
</head>

<body class="home">
    <div class="container">
        <svg viewBox="0 0 670 794">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M277.203 0L216 29.0592V126.848L61.2686 0.0537109L0 29.0592V383.059V737.059H75V383.059V108.271L216 223.812V383.059V737.059L277.203 766.118L494.203 589.118V531L312.829 383.059L494.203 235.118V177L277.203 0ZM411.171 206.059L291 304.079V108.039L411.171 206.059ZM411.171 560.059L291 462.039V658.079L411.171 560.059Z"
                transform="translate(190 14)" stroke="#3e3e3e" />
        </svg>

        <section class="socialmedia">
            <p class="socialmedia__row">
                <span class=" socialmedia__site">Github</span>
                <a class="socialmedia__name" href="https://github.com/LaxisB/">LaxisB</a>
            </p>
            <p class="socialmedia__row">
                <span class="socialmedia__site">Twitter</span>
                <a class="socialmedia__name" href="https://twitter.com/Brix_Lars">Brix_Lars</a>
            </p>
            <p class="socialmedia__row">
                <span class=" socialmedia__site">Discord</span>
                <a class="socialmedia__name" href="https://discordapp.com">Laxis#8008</a>
            </p>
        </section>

    </div>
</body>

</html>